body {
  font-family: "Raleway", sans-serif;
}

.bg-orange {
  background-color: #f05a00;
}
.text-orange {
  color: #f05a00;
}

.btn-orange {
  background-color: #f05a00;
  border-color: #f05a00;
  color: #fff;
}
.btn-orange:hover {
  background-color: #d65000;
  border-color: #d65000;
  color: #fff;
}

.btn-outline-orange {
  color: #f05a00;
  border-color: #f05a00;
}
.btn-outline-orange:hover {
  background-color: #f05a00;
  color: #fff;
}
