body {
  font-family: "Raleway", sans-serif !important;
  font-optical-sizing: auto;
}

.bg-orange {
  background-color: #f05a00 !important;
}
.text-orange {
  color: #f05a00 !important;
}

.btn-orange {
  background-color: #f05a00 !important;
  border-color: #f05a00 !important;
  color: #fff !important;
}

.btn-outline-orange {
  color: #f05a00 !important;
  border-color: #f05a00 !important;
}

.footer-phone {
  font-size: 18px;
  font-weight: 500;
}

.product-badge {
  top: 14px;
  left: 14px;
  z-index: 2;
  background-color: #17113f;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding: 7px 8px;
}
